{{!< default}}


 {{> "site-nav"}}

{{#post}}
<header class="site-header outer" style="background-image: url({{feature_image}})" data-parallax="true">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{title}}
            </h1>
            <br/>
            <h2 class="site-description">{{excerpt}}</h2>
        </div>
    </div>
</header>
{{/post}}

{{#post}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      <div class="container">
        <h3>This is a small introduction</h3>
        <br/>
        <p>Material Kit is a Free Ghost Template with a fresh, new design inspired by Google's material design. You asked for it, so we built it. It's a great pleasure to introduce to you the material concepts in an easy to use and beautiful set of components. Along with the restyling of the Bootstrap elements, you will find three fully-coded example pages, to help you design your next project.
        <br/>
        Material Kit makes use of light, surface and movement. It uses a deliberate color choice, edge-to-edge imagery and large scale typography. The general layout resembles sheets of paper following multiple different layers, so that the depth and order is obvious. The navigation stays mainly on the left and the actions on the right.
        <br/>

        This new design has elements that have been the result of research regarding ink and paper and the way objects and materials interact in real life. The result is a beautiful and consistent set of elements that can get you started with your next project. Material Kit is a great tool if you are looking to create a web presence for your Android application and need to be consistent, leaving the impression of visually similar elements. It is also a great resource in its own right, looking gorgeous and helping you build your web pages.
        <br/>
        Material Kit is based on the Github Repo from Fezvrasta who did an amazing job creating the backbone for the material effects, animations and transitions. Big thanks to his team for their forward thinking efforts.</p>
      </div>
    </div>
  </div>
</main>

{{/post}}
