{{!< default}}


 {{> "site-nav"}}

{{#post}}
<header class="site-header outer" style="background-image: url({{feature_image}})" data-parallax="true">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{title}}
            </h1>
            <br/>
            <h2 class="site-description">{{excerpt}}</h2>
        </div>
    </div>
</header>
{{/post}}

{{#post}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
        <div class="tim-row">
          <div class="tim-typo">
            <h1>
              <span class="tim-note">Header 1</span>The Life of Material Kit </h1>
          </div>
          <div class="tim-typo">
            <h2>
              <span class="tim-note">Header 2</span>The Life of Material Kit</h2>
          </div>
          <div class="tim-typo">
            <h3>
              <span class="tim-note">Header 3</span>The Life of Material Kit</h3>
          </div>
          <div class="tim-typo">
            <h4>
              <span class="tim-note">Header 4</span>The Life of Material Kit</h4>
          </div>
          <div class="tim-typo">
            <h5>
              <span class="tim-note">Header 5</span>The Life of Material Kit</h5>
          </div>
          <div class="tim-typo">
            <h6>
              <span class="tim-note">Header 6</span>The Life of Material Kit</h6>
          </div>
          <div class="tim-typo">
            <h1 class="title">
              <span class="tim-note">Header 1 Title</span>The Life of Material Kit </h1>
          </div>
          <div class="tim-typo">
            <h2 class="title">
              <span class="tim-note">Header 2 Title</span>The Life of Material Kit</h2>
          </div>
          <div class="tim-typo">
            <h3 class="title">
              <span class="tim-note">Header 3 Title</span>The Life of Material Kit</h3>
          </div>
          <div class="tim-typo">
            <h4 class="title">
              <span class="tim-note">Header 4 Title</span>The Life of Material Kit</h4>
          </div>
          <div class="tim-typo">
            <p>
              <span class="tim-note">Paragraph</span>
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Quote</span>
            <div class="blockquote undefined">
              <p>
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
              </p>
              <small>
                Kanye West, Musician
              </small>
            </div>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Muted Text</span>
            <p class="text-muted">
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            </p>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Primary Text</span>
            <p class="text-primary">
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Info Text</span>
            <p class="text-info">
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Success Text</span>
            <p class="text-success">
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Warning Text</span>
            <p class="text-warning">
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            </p>
          </div>
          <div class="tim-typo">
            <span class="tim-note">Danger Text</span>
            <p class="text-danger">
              I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
          </div>
          <div class="tim-typo">
            <h2>
              <span class="tim-note">Small Tag</span>
              Header with small subtitle
              <br>
              <small>Use "small" tag for the headers</small>
            </h2>
          </div>
        </div>
      </div>
  </div>
</main>

{{/post}}
